<br><br>
<p>げっ歯類に特化したペットのお世話内容、健康管理をシンプルに記録と確認することができます！<br>
また関連するペットの検索機能を使い、データで体調管理を簡単記録！<br>
カレンダー上からスケジュールの編集、大切な家族との生活や思い出を記録できます。<br>
ペットプロフィールの設置してなまえや誕生日、かかりつけ医などペットごとに設定可能！<br><br>
<img src="/assets/itoshigotop.png" width="80%" height="40%"><br><br>

・ペット登録<br>
複数のペットを登録可能なので多頭飼いもカレンダー毎に管理できます。<br>
<img src="/assets/itoshigolist.png" width="80%" height="40%"><br><br>

・日記機能<br>
日々のお世話の様子を入力、編集、削除など簡単操作！<br>
メモ欄もあるので体重、体調、環境、ご飯、日記、健康チェック、支出管理など合わせてお使いください。<br>
<img src="/assets/itoshigodaily.png" width="80%" height="40%"><br><br>

・タスク機能<br>
用途に合わせたタスクを作成できます。<br>
項目は自由に作成でき、トップ画面に記録が出るので確認も簡単！<br>
<img src="/assets/itoshigotask.png" width="80%" height="40%"><br><br></p>