body {
  background-color: #FFF8DC
}

.container, a {
  color: 	#000080;
  margin-top: 30px;
  font-family: monospace;
  text-decoration: none;
}

ul {
  margin-top: 50px;
  line-height: 40px;
  list-style: none;
}

.searchbox {
  text-align: right;
}

.footer {
  font-size: 5px;
  text-align: center;
  padding: 30px;
 }